    <!--FOOTER-->
    <footer>

        <div class="footerMain">

        <section class="accesos">
            <article>

                <a href="/#"><p>Inicio</p></a>
                <a href="/login"><p>Log in</p></a>
                <a href="/register"><p>Register</p></a>
                <a href="/cart"><p>Carrito</p></a>
            </article>
        </section>

        <section class="iconos">
            <article >

                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter-square"></i>
                <i class="fab fa-google-plus-square"></i>
            </article>
        </section>

        <section class="info">
            <article>
                <h4>Para Mas información:</h4>
                <p>calabozoandroide@gmail.com <i class="fas fa-envelope "></i></p>
                <p>11-1234-5678 <i class="fas fa-phone "></i></p>
                <p>Calle falsa 123 <i class="fas fa-map-marked-alt "></i></p>
            </article>
        </section>
    </div>

        <section>
            <article>
                <h5>Copyright © 1999-2021 </h5>
            </article>
        </section>



    </footer>


