<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>

    <body>
    
        <%- include('partials/header') %>
      
    
        <main>

    <main>

        <div class="product-container">
            <article class="opciones">
                <select name="Filtrar" id="filtro">
                    <option value="1">Mayor Precio</option>
                    <option value="2">Menor Precio</option>
                    <option value="3">Relevancia</option>
                    <option value="4">Calificación</option>
    
                </select>

            </article>
            <article class="Producto1">
                <img id="imagen" src="./images/cascoStormtrooper.png" alt="Imagen de Producto">
                <div>
                    <p id="nombreProducto">Casco Stormtrooper Imperial </p>
                    <p id="fabricante">Anovos Productions</p>
                    <p id="codigo">Cod:0023</p>
                    <p id="precio">$600</p>


                </div>


            </article>
            <article class="Producto2">
                <img id="imagen" src="./images/capacitadordeflujo.png" alt="Imagen de Producto">
                <div>
                    <p id="nombreProducto">Capacitador de Flujo</p>
                    <p id="fabricante">Diamond Select Toys</p>
                    <p id="codigo">Cod:0123</p>
                    <p id="precio">$350</p>


                </div>


            </article>
            <article class="Producto3">
                <img id="imagen" src="./images/plasmarifle.png" alt="Imagen de Producto">
                <div>
                    <p id="nombreProducto">Plasma Rifle</p>
                    <p id="fabricante">Project Triforce</p>
                    <p id="codigo">Cod:1234</p>
                    <p id="precio">$300</p>


                </div>


            </article>
            <article class="Producto4">
                <img id="imagen" src="./images/pokeball.png" alt="Imagen de Producto">
                <div>
                    <p id="nombreProducto">Pokeball</p>
                    <p id="fabricante">The Wand Company</p>
                    <p id="codigo">Cod:4321</p>
                    <p id="precio">$150</p>


                </div>


            </article>
            <article class="Producto5">
                <img id="imagen" src="./images/powerfist.png" alt="Imagen de Producto">
                <div>
                    <p id="nombreProducto">Power Fist</p>
                    <p id="fabricante">Chronic Collectables</p>
                    <p id="codigo">Cod:0987</p>
                    <p id="precio">$600</p>


                </div>


            </article>
            <article class="FinalizarCompra">
                <p id="total">Total</p>
                <p id="precio">$--------</p>
                <br>
                <br>
                <div>
                    <a href="#" class="button">Finalizar Compra</a>

                </div>


            </article>


        </div>
    </main>


    <%- include('partials/footer') %>
</body>

</html>