<!DOCTYPE html>
<html lang="en">
    <!--Head-->
<%- include('partials/head') %>
    <!--Header-->
<body>

    <%- include('partials/header') %>
      <!--Main-->

      <main>
        <article class="form-container">
            <form method="POST" action="#rutasitio" class="register-form">
                <div>
                    <div class="titulo-create">CREAR PRODUCTO</div>    
                    <div class="form-control">
                        <input type="text" name="nameProduct" id="nameProduct" placeholder="Nombre Producto:" required="" class="control">
                        <span class="Feedback"></span>
                    </div>
                    <div class="form-control">
                        <input type="text" name="brandProduct" id="brandProduct" placeholder="Nombre de Marca:" required="" class="control">
                        <span class="Feedback"></span>
                    </div>
                    <div class="form-control">
                        <input type="text" name="descriptionProduct" id="descriptionProduct" placeholder="Descripcion del Producto:" required="" class="control">
                        <span class="Feedback"></span>
                    </div>
                    <div class="form-control">
                        <label>Categoría Relevante:</label>
                        <div class="interests">
                            <div class="interest-option">
                                <input type="checkbox" name="interests" value="Videojuegos" id="Videojuegos">
                                <label for="home">Anime</label>
                            </div>
                            <div class="interest-option">
                                <input type="checkbox" name="interests" value="Anime" id="Anime">
                                <label for="toys">Videojuegos</label>
                            </div>
                            <div class="interest-option">
                                <input type="checkbox" name="interests" value="Cine" id="Cine">
                                <label for="healthy">Cine</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-control">
                        <label>Imagen de Producto:</label>
                        <div class="img">
                            <img src=" ">
                        </div>
                        <input type="file" id="fileProduct" name="fileProduct" accept="image/png, image/jpeg" class="form-control-btn">
                    </div>
                    <div class="form-control">
                        <input type="text" name="priceProduct" id="priceProduct" placeholder="Precio:" class="control" required="">
                    </div>
                    <div class="form-control">
                        <input type="text" name="discountProduct" id="discountProduct" placeholder="Descuento:" class="control" required="">
                    </div>
                    <div class="form-control buttons">
                        <input type="submit" value="Crear" class="submit-button-form">
                        <input type="reset" value="Borrar" class="button-form">
                    </div>

                </div>
            </form>
        </article>
    </main>


                </div>
            </section>


    


    </main>

        <!--FOOTER-->

        <%- include('partials/footer') %>
    
</body>
</html>