<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/images/logo.png">

    <title>Calabozo del Androide</title>
</head>

<body>


    <header>

        <!--LOGO-->
        <div class="top-header">

            <img src="./images/logo.png" width="20%" class="logo" href="./">

        </div>
        <!--LOGO-->
        <nav>
            <nav class="categorias" alt="Categorias">
                <ul>

                    <li id="categ">

                        <div class="subnav">
                            <button class="subnavbtn">Categorías <i class="fa fa-caret-down"></i></button>
                            <div class="subnav-content">
                                <a href="#">Anime</a>
                                <a href="#">Videojuegos</a>
                                <a href="#">Cine</a>
                                <a href="#">Cómics</a>
                                <a href="#">Shows</a>

                            </div>
                        </div>


                    </li>
                    <li>
                        <a href="/#">
                            <i class="fas fa-home"></i>
                            <tag>Inicio</tag>
                        </a>
                    </li>


                    <li>
                        <a href="/login.html">
                            <i class="fas fa-sign-in-alt"></i>
                            <tag>Ingresá</tag>
                        </a>
                    </li>
                    <li>
                        <a href="/register.html">
                            <i class="fas fa-user-plus"></i>
                            <tag>Registrate</tag>
                        </a>
                    </li>
                    <li>

                        <a href="/cart.html">
                            <i class="fas fa-shopping-cart"></i>
                            <tag>Carrito</tag>
                        </a>

                    </li>


                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Buscar..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>




                    <!--íconos del nav-bar-->


                </ul>
            </nav>
    </header>

    <main>




        <!--Sección de Productos-->
        <section class=" contenido ">
            <a href="productDescCapacitador.html ">
                <article class="items ">

                    <img src="./images/capacitadordeflujo.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>25% OFF</h4>
                            </div>
                            <p class="precio ">$5000</p>
                            <p>Capacitador De Flujo</p>
                        </div>

                </article>
            </a>

            <a href="productDescCasco.html ">
                <article class="items ">
                    <img src="./images/cascoStormtrooper.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>10% OFF</h4>
                            </div>
                            <p class="precio ">$8000</p>
                            <p>Casco Stormtrooper</p>
                        </div>
                </article>
            </a>

            <a href="productDesc.html ">
                <article class="items ">
                    <img src="./images/pokeball.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>15% OFF</h4>
                            </div>
                            <p class="precio ">$4000</p>
                            <p>Pokeball</p>
                        </div>
                </article>
            </a>

            <a href="productDescPlasma.html ">
                <article class="items ">
                    <img src="./images/plasmarifle.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>15% OFF</h4>
                            </div>
                            <p class="precio ">$9000</p>
                            <p>Rifle Plasma</p>
                        </div>
                        <!-- Sección de Productos-->
                </article>
            </a>
        </section>
        <section class="contenido2 ">
            <a href="productDescCapacitador.html ">
                <article class="items ">
                    <img src="./images/capacitadordeflujo.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$5000</p>
                            <p>Capacitador De Flujo</p>
                        </div>
                </article>
            </a>

            <a href="productDescCasco.html ">
                <article class="items ">
                    <img src="./images/cascoStormtrooper.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$8000</p>
                            <p>Casco Stormtrooper</p>
                        </div>
                </article>
            </a>

            <a href="productDesc.html ">
                <article class="items ">
                    <img src="./images/pokeball.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$4000</p>
                            <p>Pokeball</p>
                        </div>
                </article>
            </a>

            <a href="productDescPlasma.html ">
                <article class="items ">
                    <img src="./images/plasmarifle.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$9000</p>
                            <p>Rifle Plasma</p>
                        </div>
                        <!-- Sección de Productos-->
                </article>
            </a>
        </section>
        <section class="contenido3 ">
            <a href="productDescCapacitador.html ">
                <article class="items ">
                    <img src="./images/capacitadordeflujo.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$5000</p>
                            <p>Capacitador De Flujo</p>
                        </div>
                </article>
            </a>

            <a href="productDescCasco.html ">
                <article class="items ">
                    <img src="./images/cascoStormtrooper.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$8000</p>
                            <p>Casco Stormtrooper</p>
                        </div>
                </article>
            </a>

            <a href="productDesc.html ">
                <article class="items ">
                    <img src="./images/pokeball.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$4000</p>
                            <p>Pokeball</p>
                        </div>
                </article>
            </a>

            <a href="productDescPlasma.html ">
                <article class="items ">
                    <img src="./images/plasmarifle.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$9000</p>
                            <p>Rifle Plasma</p>
                        </div>
                        <!-- Sección de Productos-->
                </article>
            </a>
        </section>


    </main>

    <!--FOOTER-->
    <footer>

        <section>
            <article>
                <h4>Para Mas información:</h4>
                <p>calabozoandroide@gmail.com <i class="fas fa-envelope "></i></p>
                <p>11-1234-5678 <i class="fas fa-phone "></i></p>
                <p>Calle falsa 123 <i class="fas fa-map-marked-alt "></i></p>
            </article>
        </section>
        <br>
        <section>
            <article>
                <h5>Copyright © 1999-2021 </h5>
            </article>
        </section>



    </footer>





</body>

</html>