<!DOCTYPE html>
<html lang="en">


    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
  

    <main>




        <!--Secci贸n de Productos-->
        <section class=" contenido ">
            <a href="productDescCapacitador.html ">
                <article class="items ">

                    <img src="./images/capacitadordeflujo.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>25% OFF</h4>
                            </div>
                            <p class="precio ">$5000</p>
                            <p>Capacitador De Flujo</p>
                        </div>

                </article>
            </a>

            <a href="productDescCasco.html ">
                <article class="items ">
                    <img src="./images/cascoStormtrooper.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>10% OFF</h4>
                            </div>
                            <p class="precio ">$8000</p>
                            <p>Casco Stormtrooper</p>
                        </div>
                </article>
            </a>

            <a href="productDesc.html ">
                <article class="items ">
                    <img src="./images/pokeball.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>15% OFF</h4>
                            </div>
                            <p class="precio ">$4000</p>
                            <p>Pokeball</p>
                        </div>
                </article>
            </a>

            <a href="productDescPlasma.html ">
                <article class="items ">
                    <img src="./images/plasmarifle.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <div class="text-block">
                                <h4>15% OFF</h4>
                            </div>
                            <p class="precio ">$9000</p>
                            <p>Rifle Plasma</p>
                        </div>
                        <!-- Secci贸n de Productos-->
                </article>
            </a>
        </section>
        <section class="contenido2 ">
            <a href="productDescCapacitador.html ">
                <article class="items ">
                    <img src="./images/capacitadordeflujo.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$5000</p>
                            <p>Capacitador De Flujo</p>
                        </div>
                </article>
            </a>

            <a href="productDescCasco.html ">
                <article class="items ">
                    <img src="./images/cascoStormtrooper.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$8000</p>
                            <p>Casco Stormtrooper</p>
                        </div>
                </article>
            </a>

            <a href="productDesc.html ">
                <article class="items ">
                    <img src="./images/pokeball.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$4000</p>
                            <p>Pokeball</p>
                        </div>
                </article>
            </a>

            <a href="productDescPlasma.html ">
                <article class="items ">
                    <img src="./images/plasmarifle.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$9000</p>
                            <p>Rifle Plasma</p>
                        </div>
                        <!-- Secci贸n de Productos-->
                </article>
            </a>
        </section>
        <section class="contenido3 ">
            <a href="productDescCapacitador.html ">
                <article class="items ">
                    <img src="./images/capacitadordeflujo.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$5000</p>
                            <p>Capacitador De Flujo</p>
                        </div>
                </article>
            </a>

            <a href="productDescCasco.html ">
                <article class="items ">
                    <img src="./images/cascoStormtrooper.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$8000</p>
                            <p>Casco Stormtrooper</p>
                        </div>
                </article>
            </a>

            <a href="productDesc.html ">
                <article class="items ">
                    <img src="./images/pokeball.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$4000</p>
                            <p>Pokeball</p>
                        </div>
                </article>
            </a>

            <a href="productDescPlasma.html ">
                <article class="items ">
                    <img src="./images/plasmarifle.png " width="100% " class="product_img ">
                    <div>
                        <div>
                            <p class="precio ">$9000</p>
                            <p>Rifle Plasma</p>
                        </div>
                        <!-- Secci贸n de Productos-->
                </article>
            </a>
        </section>


    </main>

    <!--FOOTER-->

    <%- include('partials/footer') %>

</body>

</html>