<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
  

    <main>
        <div class="descriptionContainer">
        <!--Showcase del Producto-->
        <section class="productDescription">
            <div class="producto">
                <p class="nameProd">Pokeball</p>
                <p class="marca">THE WAND COMPANY</p>
            </div>
            <div class="fotos">
                <img src="./images/1 (4).jpg" width="24%" class="principalImg" alt="3">

            </div>

        </section>
        <div class="informa">
            <p class="precios">$4000</p>
            <p class="adding">Añadir al Carrito <i class="fas fa-cart-plus"> </i> </p>

            <p class="estado">NUEVO</p>
            <br>
            <p class="stock">En Stock</p>
            <br>
            <p class="description">¡The Wand Company se complace en traerles esta réplica de Poke Ball de alta precisión! Esta Poke Ball presenta una superficie de color que es sensible al tacto y la proximidad. Contiene un estuche de presentación y un anillo de acero inoxidable
                para que puedas exhibirla como quieras. </p>
        </div>
    </div>



    </main>

    <%- include('partials/footer') %>

</html>