<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
  
    <main>
        <div class="descriptionContainer"> 
        <!--Showcase del Producto-->
            <section class="productDescription">
                <div class="producto">
                    <p class="nameProd">Casco Stormtrooper</p>
                    <p class="marca">Disney LCC</p>
                </div>
                <div class="fotos">
                    <img src="./images/cascoStormtrooper.png" width="24%" class="principalImg" alt="3">
                </div>

            </section>
            <div class="informa">
                <p class="precios">$8000</p>
                <p class="adding"><i class="fas fa-cart-plus"></i>Añadir al Carrito </i>
                </p>

                <p class="estado">NUEVO</p>
                <br>
                <p class="stock">En Stock</p>
                <br>
                <p class="description">Replica 1:1 del casco, como visto en Episodio IV: Una Nueva Esperanza </p>
            </div>


        </div>

    </main>

    <%- include('partials/footer') %>
</body>

</html>