<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>


    <main>
        <div class="descriptionContainer"> 
        <!--Showcase del Producto-->
        <section class="productDescription">
            <div class="producto">
                <p class="nameProd">Capacitador de Flujo</p>
                <p class="marca">DAMTOYS</p>
            </div>
            <div class="fotos">
                <img src="./images/capacitadordeflujo.png" width="24%" class="principalImg" alt="3">
            </div>

        </section>
        <div class="informa">
            <p class="precios">$5000</p>
            <p class="adding">Añadir al Carrito <i class="fas fa-cart-plus"> </i> </p>

            <p class="estado">NUEVO</p>
            <br>
            <p class="stock">En Stock</p>
            <br>
            <p class="description">Colgable con luz del Capacitador, como visto en la trilogia Volver al Futuro </p>
        </div>
    </div>



    </main>
 
    <%- include('partials/footer') %>
</html>