<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
  

    <main>

    <main>
        <!--Showcase del Producto-->
        <div class="product-info-container">


            <section class="productDescription">
                <div class="producto">
                    <p class="nameProd">Casco Stormtrooper</p>
                    <p class="marca">Disney LCC</p>
                </div>
                <div class="fotos">
                    <img src="./images/cascoStormtrooper.png" width="24%" class="principalImg" alt="3">
                    <div class="otrasImagenes">
                        <img src="./images/cascoStormtrooper2.jpeg" width="12%" alt="2">
                        <img src="./images/cascoStormtrooper3.jpeg" width="12%" alt="3">
                    </div>
                </div>

            </section>
            <div class="informa">
                <p class="precios">$8000</p>
                <p class="adding"><i class="fas fa-cart-plus"></i>Añadir al Carrito </i>
                </p>

                <p class="estado">NUEVO</p>
                <br>
                <p class="stock">En Stock</p>
                <br>
                <p class="description">Replica 1:1 del casco, como visto en Episodio IV: Una Nueva Esperanza </p>
            </div>


        </div>

    </main>

    <%- include('partials/footer') %>
</body>

</html>