<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/styles.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <title>Descripcion de Item</title>

</head>

<body>
    <header>

        <!--LOGO-->
        <div class="top-header">

            <img src="./images/logo.png" width="20%" class="logo" href="./">

        </div>
        <!--LOGO-->
        <nav>
            <nav class="categorias" alt="Categorias">
                <ul>

                    <li id="categ">

                        <div class="subnav">
                            <button class="subnavbtn">Categorías <i class="fa fa-caret-down"></i></button>
                            <div class="subnav-content">
                                <a href="#">Anime</a>
                                <a href="#">Videojuegos</a>
                                <a href="#">Cine</a>
                                <a href="#">Cómics</a>
                                <a href="#">Shows</a>

                            </div>
                        </div>


                    </li>
                    <li>
                        <a href="/#">
                            <i class="fas fa-home"></i>
                            <tag>Inicio</tag>
                        </a>
                    </li>


                    <li>
                        <a href="/login.html">
                            <i class="fas fa-sign-in-alt"></i>
                            <tag>Ingresá</tag>
                        </a>
                    </li>
                    <li>
                        <a href="/register.html">
                            <i class="fas fa-user-plus"></i>
                            <tag>Registrate</tag>
                        </a>
                    </li>
                    <li>

                        <a href="/cart.html">
                            <i class="fas fa-shopping-cart"></i>
                            <tag>Carrito</tag>
                        </a>

                    </li>


                    <div class="search-container">
                        <form action="/action_page.php">
                            <input type="text" placeholder="Buscar..." name="search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>




                    <!--íconos del nav-bar-->


                </ul>
            </nav>
    </header>

    <main>
        <!--Showcase del Producto-->
        <div class="product-info-container">


            <section class="productDescription">
                <div class="producto">
                    <p class="nameProd">Casco Stormtrooper</p>
                    <p class="marca">Disney LCC</p>
                </div>
                <div class="fotos">
                    <img src="./images/cascoStormtrooper.png" width="24%" class="principalImg" alt="3">
                    <div class="otrasImagenes">
                        <img src="./images/cascoStormtrooper2.jpeg" width="12%" alt="2">
                        <img src="./images/cascoStormtrooper3.jpeg" width="12%" alt="3">
                    </div>
                </div>

            </section>
            <div class="informa">
                <p class="precios">$8000</p>
                <p class="adding"><i class="fas fa-cart-plus"></i>Añadir al Carrito </i>
                </p>

                <p class="estado">NUEVO</p>
                <br>
                <p class="stock">En Stock</p>
                <br>
                <p class="description">Replica 1:1 del casco, como visto en Episodio IV: Una Nueva Esperanza </p>
            </div>


        </div>

    </main>
    <footer>
        <section>
            <article>
                <h4>Para Mas información:</h4>
                <p>calabozoandroide@gmail.com <i class="fas fa-envelope"></i></p>
                <p>11-1234-5678 <i class="fas fa-phone"></i></p>
                <p>Calle falsa 123 <i class="fas fa-map-marked-alt"></i></p>
            </article>
        </section>
        <br>
        <section>
            <article>
                <h5>Copyright © 1999-2021 </h5>
            </article>
        </section>
    </footer>
</body>

</html>