<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>
  

    <main>

    <main>
        <!--Showcase del Producto-->
        <section class="productDescription">
            <div class="producto">
                <p class="nameProd">Rifle Plasma</p>
                <p class="marca">Triforce ORG</p>
            </div>
            <div class="fotos">
                <img src="./images/plasmarifle.png" width="24%" class="principalImg" alt="3">
                <div class="otrasImagenes">
                    <img src="./images/plasmarifle2.jpeg" width="12%" alt="2">
                    <img src="./images/plasmarifle3.jpeg" width="12%" alt="3">
                </div>
            </div>

        </section>
        <div class="informa">
            <p class="precios">$9000</p>
            <p class="adding">Añadir al Carrito <i class="fas fa-cart-plus"> </i> </p>

            <p class="estado">NUEVO</p>
            <br>
            <p class="stock">En Stock</p>
            <br>
            <p class="description">Replica display del clasico arsenal, visto en Halo 2 </p>
        </div>




    </main>

        <%- include('partials/footer') %>
</body>

</html>