<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/indexStyle.css' >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="/public/images/logo.png">

    <title>Calabozo del Androide</title>
</head>

<body>


    <header>

        <br>
        <!--HAMBURGUESA-- (quitar comentario para recuperar)
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
        HAMBURGUESA-->
        <br>
        <!--LOGO-->
        <div class="top-header">

            <img src="./images/logo.png" width="20%" class="logo" href="/">

        </div>
        <!--LOGO-->
        <nav>
            <nav class="categorias" alt="Categorias">
                <ul>
                    <!--categorías del nav-bar (quitar comentario para reintegrar)
                    <li><a href="#">Anime</a></li>
                    <li><a href="#">Videojuegos</a></li>
                    <li><a href="#">Cine</a></li>
                    categorías del nav-bar-->
                    <!--íconos del nav-bar-->
                    <li>
                        <a href="/#">
                            <i class="fas fa-bars"></i>
                            <tag id="">Categorías</tag>
                        </a>

                    </li>
                    <li>
                        <a href="/search">
                            <i class="fas fa-search"></i>
                            <tag>Buscar</tag>
                        </a>
                    </li>

                    <li>
                        <a href="/login.html">
                            <i class="fas fa-user"></i>
                            <tag>Ingresá</tag>
                        </a>
                    </li>
                    <li>
                        <a href="/register.html">
                            <i class="fas fa-user-plus"></i>
                            <tag>Registrate</tag>
                        </a>
                    </li>
                    <li>

                        <a href="/cart.html">
                            <i class="fas fa-shopping-cart"></i>
                            <tag>Carrito</tag>
                        </a>

                    </li>

                    <li>
                        <a href="/about-us">
                            <i class="fas fa-question-circle"></i>
                            <tag>About Us</tag>
                        </a>
                    </li>
                    <!--íconos del nav-bar-->


                </ul>
            </nav>
    </header>


    <main>
        <article class="form-container">
            <form method="POST" action="#" class="register-form">
                <div>
                        <div class="titulo-register">REGISTRATE</div>
                        <div class="ya-tenes"><a href=login.html> Si ya tienes cuenta ingresa ahora</a></div>
                        <div class="form-control">
                            <input type="text" name="name" id="name" placeholder="Nombre y apellido" required="" class="control">
                            <span class="Feedback"></span>
                        </div>
                        <div class="form-control">
                            <input type="text" name="user" id="user" placeholder="Nombre de usuario" required="" class="control">
                            <span class="Feedback"></span>
                        </div>
                        <div class="form-control">                    
                            <label for="dateBrith">Fecha de Nacimiento:</label>
                                <input type="date" name="dateBrith" id="dateBrith" class="control">
                        </div>
                        <div class="form-control">
                            <input type="text" name="address" id="address" placeholder="Domicilio" class="control">
                        </div>
                        <div class="form-control">
                            <label>Categorías de Interes</label>
                            <div class="interests">
                                <div class="interest-option">
                                    <input type="checkbox" name="interests" value="Videojuegos" id="Videojuegos">
                                    <label for="home">Hogar</label>
                                </div>
                                <div class="interest-option">
                                    <input type="checkbox" name="interests" value="Anime" id="Anime">
                                    <label for="toys">Juguetería</label>
                                </div>
                                <div class="interest-option">
                                    <input type="checkbox" name="interests" value="Cine" id="Cine">
                                    <label for="healthy">Vida sana</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-control">
                            <label>Imagen de perfil:</label>
                            <div class="img">
                                <img src="">
                            </div>
                            <input type="file" id="fileavatar" name="fileavatar" accept="image/png, image/jpeg">
                        </div>                    
                        <div class="form-control">
                            <input type="password" name="pass" id="pass" placeholder="Contraseña" class="control" required="">
                        </div>    
                        <div class="form-control">                    
                            <input type="password" name="confirmpass" id="confirmpass" placeholder="Confirmar contraseña" class="control" required="">
                        </div>
                        <div class="form-control buttons">                    
                            <input type="submit" value="Enviar" class="submit-button-form">
                            <input type="reset" value="Limpiar" class="button-form">
                        </div>
                    
                </div></form>     
        </article> 
    </main>
    <footer>
        <section>
            <article>
                <h4>Para Mas información:</h4>
                <p>calabozoandroide@gmail.com <i class="fas fa-envelope"></i></p>
                <p>11-1234-5678 <i class="fas fa-phone"></i></p>
                <p>Calle falsa 123 <i class="fas fa-map-marked-alt"></i></p>
            </article>
        </section>
        <br>
        <section>
            <article>
                <h5>Copyright © 1999-2021 </h5>
            </article>
        </section>
    </footer>
    
    
    
    
</body>
    
</html>