
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
.burger-menu {
    background-color: #680075;
    color: #ffffff;
    display: block;
    max-width: 50px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    padding: 10px;
    justify-content: flex-start;
}

.burger-menu i {
    background-color: #680075;
    color: #ebebee;
    position: relative;
    border-image-width: 50%;
}


/*----------------------HAMBURGUESA-------------------*/


/*----------------------HEADER------------------------*/

header {
    background-color: #ebebee;
}

top-header {
    position: absolute;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

i {
    color: #680075;
}

tag {
    /*<--------etiquetas del nav-bar*/
    color: #680075;
}

.top-header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 25%;
    padding: 10px;
    text-align: center;
}


/*...........CATEGORÍAS DEL NAV-BAR..............*/

.categorias {
    background-color: #ebebee;
    border-top: solid 4px rgba(104, 0, 117, 1)
}

.categorias ul {
    text-align: center;
}

.categorias ul li {
    display: inline-block;
    padding: 20px 36px;
    border-bottom: solid 4px rgba(104, 0, 117, -1);
    transition: 450ms;
}

.categorias ul li:hover {
    background-color: #ce95d5;
    border-bottom: solid 4px rgba(104, 0, 117, 1);
}


/*...........CATEGORÍAS DEL NAV-BAR..............*/


/*----------------------HEADER------------------------*/


/*----------------------------MEDIA QUERIES-------------------*/

@media(min-width: 100px) {
    .categorias {
        display: block;
    }
    tag {
        display: none;
    }
}

@media (min-width: 361px) {
    h4 {
        display: block;
    }
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    main section .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    main section .productos article {
        width: 45%;
    }
    .precios,
    .descuentos {
        width: 50%;
    }
    .categorias {
        display: block;
    }
    tag {
        display: none;
    }
    .categorias ul li {
        padding: 10px 18px;
    }
}

@media (min-width: 769px) {
    main section .productos article {
        width: 22%;
    }
    .navbar {
        display: flex;
    }
    .categorias {
        display: block;
    }
    .categorias ul li {
        padding: 10px 16px;
    }
    .burger-menu {
        display: none;
    }
    tag {
        display: inline-block;
    }
}

@media (min-width:1200px) {
    .categorias {
        display: block;
    }
    .categorias ul li {
        padding: 20px 36px;
    }
    tag {
        display: inline-block;
    }
}


/*----------------------------MEDIA QUERIES-------------------*/

body {
    background-color: #d8d2d4;
}







.login {
    background-color: white;
    width: 100%;
    font-family: 'Roboto';
    text-align: center;
    height: 100%;
    padding: 20px 0;

}

.form-login{
margin: 15px;
padding: 5px 5px;
}



.control{
width: 50%;
padding: 10px 0;
font-family: 'Roboto';
font-weight: bold;
color: black;
font-size: 16px;
border-radius: 8px;
 border: solid 2px #680075;
}

.boton-login{
    background-color: #af4c53;
    color: #ffffff;
    display: block;
    width: 50%;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    transition: all 500ms;
    border: solid 2px #680075;
}

.boton-login:hover {
    background-color:#da202c ;
}

.olvidasteContra {
    padding-top: 15px;
}


footer {
    border: solid 2px #680075;
    border-radius: 4px;
}

footer h4 {
    position: relative;
    left: 20px;
    font-size: 30px;
}

footer p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    justify-content: space-between;
    padding: 3px;
}

footer h5 {
    font-size: 15px;
}

@media (min-width: 361px) {
    footer h4 {
        font-size: 20px;
        left: 10px;
    }

    footer p {
        font-size: 13px;
    }
}

@media (min-width: 768px) {
    footer h4 {
        font-size: 20px;
        left: 10px;
    }

    footer p {
        font-size: 17px;
    }
}

@media (min-width: 1200px){
    footer h4 {
        font-size: 30px;
        left: 10px;
    }

    footer p {
        font-size: 25px;
        text-align: center;
    }
}
